.container {
  max-width: 600px;
  margin: auto;
  background: #f4f4f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title {
  text-align: center;
  color: #2d87f0;
  font-size: 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #28a745;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

.farmer-list {
  margin-top: 20px;
}

.farmer-item {
  background: #d1ecf1;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}


.crop-page {
  background-image: url("./assets/bgimage2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


 .container {
    background-image: url("./assets/bgimage3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: rgb(123, 21, 21);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
