.fertilizer-page {
  text-align: center;
  margin-top: 20px;
}

.fertilizer-form input,
button {
  margin: 5px;
  padding: 8px;
  width: 250px;
}

.details {
  margin-top: 20px;
}

ul {
  list-style-type: none;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.chart-container {
  margin-top: 20px;
}
